@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  font-family: "Lato", sans-serif;
}

h1, h2, h3{
  background-color: rgba(34, 8, 59, 0.616);
  color: rgba(234, 220, 247, 0.616);
  padding: 0.25rem;
  text-align: center;
}

header{
    margin-bottom: 3rem;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article {
  width: 20rem;
  margin: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8);
  background-color: rgba(215, 180, 248, 0.616);
  border-radius: 1rem;
  overflow: hidden;
}
article:hover{
    background-color: rgba(227, 201, 252, 0.616);
}

a{
    display: inline-block;
    text-align: center;
    padding: 0.15rem auto ;
    width: 100%;
    color: rgba(34, 8, 59, 0.616);
    text-decoration: none;
}
p{
    padding: 0.15rem 0.5rem;
}